:root {
  --orange: rgb(254, 238, 0);
}
body {
  background-color: #f7f7fa;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.87rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 0.9rem;
}
/* Navbar Styles */

.navbar {
  padding: 10px 0;
  background-color: #e6e6e6 !important;
  /* background-color: var(--orange) !important; */
}

.navbar-brand img {
  max-height: 50px;
  border-radius: 12px;
}

.form-control {
  border-radius: 20px 0 0 20px;
  width: 450px;
}

.form-control:active,
.form-control:focus {
  box-shadow: none;
}

.btn-outline-success {
  border-radius: 0 20px 20px 0;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.express {
  border: 1px solid black;
  padding: 0 0.3em;
  border-radius: 4px 25px 4px 0;
}
/* Navbar Style Ends */

/* Category section  */
.btn {
  color: blue;
  background-color: aliceblue;
}

.dropdown-menu > li {
  margin-top: 0.23em;
  font-size: 14px;
}

.category-item {
  cursor: pointer;
  font-size: 15px !important;
}

@media (max-width: 1199px) {
  .category-container {
    display: none !important;
  }
}
/* Category section Ends */

/* Carausel  */

.carousel {
  max-height: 380px;
  max-width: 1520px;
  margin: 0 0 2rem 0;
  background-color: var(--orange);
}

.carousel-item {
  max-height: 380px;
  max-width: 1520px;
}

.free-delivery {
  background-color: white;
  border-radius: 14px;
  padding: 0.23em 0.5em;
}
/* Carausel Ends */

/* Accessories Section */
.accessories-row {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  max-width: 1520px;
}

.accessory {
  display: inline-block;
  margin-right: 50px;
  text-align: center;
}

.accessory img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

/* Accessories Section Ends */

/* Goods  */
.product-carousel {
  overflow-x: scroll;
  white-space: nowrap;
}

.product-carousel .card {
  max-width: 230px;
  display: inline-block;
  margin-right: 30px !important;
}

.card-text {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.card-img-top {
  max-width: 150px;
}

@media (max-width: 768px) {
  .card-img-top {
    max-width: 150px;
  }
}

.product-carousel {
  max-width: 1520px;
}

/* Goods End */

/* Banner Card  */

.card-header {
  background-color: #007bff;
  color: #fff;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-right: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  max-height: 220px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}

/* Banner Card Ends */

.recommended {
  max-width: 1520px;
}

.card-body .btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 15px 0;
}
.card-body .btn:hover {
  background-color: #0062cc;
}

/* LG Banner  */
.lg-banner {
  max-width: 1520px;
}

/* LG Banner Ends */

.Electronics .card {
  margin-right: 41px !important;
}
